<!DOCTYPE html>
<html>
<head>
  <title>接口主页</title>
  <link rel="stylesheet" type="text/css" href="/project.css">
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/common.css"> 
</head>
<body>
<%- include("./header.ejs")%>
<section class="container">
<h1>项目列表</h1>
<div>
<ul id="js-project-list" class="ui-project-list container">
<li view="show">
<span class="ui-index">序号</span>
<span class="ui-name">项目名称</span>
<span class="ui-path">真实请求路径</span>
<span class="ui-description">说明</span>
<span class="ui-op">操作</span>
</li>
<%var len = projects ? projects.length : 0;%>
<%for(var i = 0; i < len; i++){%>
<li view="show">
<span class="ui-index"><%=projects[i].id%></span>
<input class="ui-index" type="text" name="" value="<%=projects[i].id%>"></input>
<span class="ui-name"><%=projects[i].name%></span>
<input class="ui-name" type="text" name="" value="<%=projects[i].name%>"></input>
<span class="ui-path"><%=projects[i].real_host%></span>
<input class="ui-path" type="text" name="" value="<%=projects[i].real_host%>"></input>
<span class="ui-description"><%=projects[i].description%></span>
<input class="ui-description" type="text" name="" value="<%=projects[i].description%>"></input>
<button class="js-op">编辑</button>
<button class="js-delete">删除</button>
<button class="js-interface">查看接口</button>
</li>
<%}%>
</ul>
</div>
<div id="js-add-project">
  <!-- <span>项目名称：</span> --><input id="js-name" type="text" name="">
 <!--  <span>真实请求路径：</span> --><input id="js-real-host" type="text" name="path">
	<!-- <span>描述: </span> --><input id="js-res-code" type="text" name="">
	<button id="js-submit">添加</button>
</div>
</section>
<%- include("./footer.ejs")%>
<script type="text/javascript" src="/myAjax.js"></script>
<script type="text/javascript" src="/project.js"></script>
</body>
</html>